html {
  background-color: #002163;
  color: #ffffff;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #fed200;
}

img {
  margin: 0;
  display: block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
}

td {
  border-spacing: 0;
}

.journey {
  border-radius: 5px;
  border-color: gray;
  background-color: black;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.journey-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
}

.journey-header {
  font-size: 1.5em;
}

.service-details {
  font-style: italic;
  align-items: center;
}

.stop-details {
  margin: auto;
}

.origin,
.destination {
  font-weight: bold;
}

.service-route {
  flex: 1;
  text-align: center;
}

.journey-row-item {
  margin-left: 10px;
  margin-right: 10px;
}

.journey-top {
  font-weight: bold;
}

.journey-top-left {
  display: flex;
}

.service-operator {
  width: 200px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.route {
  flex: 1;
  text-align: center;
}

.service-route {
  padding: 5px;
  background-color: gray;
  border-radius: 5px;
  margin: 5px;
}

.box-abellio-scotrail {
  background-color: #1c4074;
}

.box-avanti-west-coast {
  background-color: #004354;
}

.box-c2c {
  background-color: #b7007c;
}

.box-caledonian-sleeper {
  background-color: #1d2e35;
}

.box-chiltern-railways {
  background-color: #00bfff;
}

.box-crosscountry {
  background-color: #660f21;
}

.box-east-midlands-railway {
  background-color: #703e69;
}

.box-heathrow-express {
  background-color: #532e63;
}

.box-gatwick-express {
  background-color: #e11829;
}

.box-grand-central {
  background-color: #1d1d1b;
}

.box-greater-anglia {
  background-color: #d70428;
}

.box-great-northern {
  background-color: #00a0ff;
}

.box-great-western-railway {
  background-color: #0a493e;
}

.box-hull-trains {
  background-color: #de005c;
}

.box-london-north-eastern-railway {
  background-color: #bf0000;
}

.box-london-northwestern-railway {
  background-color: #00bf6f;
}

.box-london-overground {
  background-color: #f07c08;
}

.box-lumo {
  background-color: #1c02ea;
}

.box-merseyrail {
  background-color: #ffdc00;
}

.box-northern {
  background-color: #0f0d78;
}

.box-southern {
  background-color: #8cc63e;
}

.box-southeastern {
  background-color: #389cff;
}

.box-south-western-railway {
  background-color: #24398c;
}

.box-tfl-rail {
  background-color: #532b83;
}

.box-thameslink {
  background-color: #ff5aa4;
}

.box-transpennine-express {
  background-color: #09a4ec;
}

.box-transport-for-wales {
  background-color: #ff4500;
}

.box-west-midlands-railway {
  background-color: #ff8200;
}

.call {
  font-size: 0.8em;
}

.name {
  width: 300px;
  font-weight: bold;
}

.icon {
  padding-right: 25px;
}

.platform {
  text-align: center;
  padding-left: 5px;
  padding-right: 10px;
}

.journey-icon {
  padding: 0;
  width: 50px;
}

.time {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.diff {
  padding-left: 10px;
  text-align: center;
}

.diff-box {
  border-radius: 5px;
  padding: 4px;
  width: 20px;
  height: 20px;
}

.on-time {
  background-color: gray;
}

.early {
  background-color: limegreen;
}

.very-early {
  background-color: green;
}

.late {
  background-color: red;
}

.very-late {
  background-color: darkred;
}

td {
  padding: 0;
}

.performance-details {
  text-align: center;
}

.performance-details table {
  width: 100%;
}

.performance-details td {
  padding-left: 5px;
  padding-right: 5px;
}

.misc-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*# sourceMappingURL=styles.css.map */
