$toc-colours: (
  "avanti-west-coast": #004354,
  "c2c": #b7007c,
  "caledonian-sleeper": #1d2e35,
  "chiltern-railways": #00bfff,
  "crosscountry": #660f21,
  "east-midlands-railway": #703e69,
  "heathrow-express": #532e63,
  "gatwick-express": #e11829,
  "grand-central": #1d1d1b,
  "greater-anglia": #d70428,
  "great-northern": #00a0ff,
  "great-western-railway": #0a493e,
  "hull-trains": #de005c,
  "london-north-eastern-railway": #bf0000,
  "london-northwestern-railway": #00bf6f,
  "london-overground": #f07c08,
  "lumo": #1c02ea,
  "merseyrail": #ffdc00,
  "northern": #0f0d78,
  "scotrail": #1c4074,
  "southern": #8cc63e,
  "southeastern": #389cff,
  "south-western-railway": #24398c,
  "elizabeth-line": #532b83,
  "thameslink": #ff5aa4,
  "transpennine-express": #09a4ec,
  "transport-for-wales": #ff4500,
  "west-midlands-railway": #ff8200,
);

$nr-bg: #000000;
$nr-bg-lighter: lighten($nr-bg, 10%);
$nr-bg-lighterer: lighten($nr-bg, 20%);
$nr-fg: #ffffff;
$table-border-colour: #545454;

@font-face {
  font-family: "RailAlphabet";
  src: url(('rail-alphabet.ttf'));
}

html {
  background-color: $nr-bg;
  color: $nr-fg;
}

body {
  font-family: "RailAlphabet", "Raleway", sans-serif;
  max-width: 800px;
  margin: auto;

  @media (max-width: 500px) {
    font-size: 0.8em;
  }
}

h1 {
  text-align: center;
  color: $nr-fg;
}

img {
  margin: 0;
  display: block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
}

td {
  border-spacing: 0;
}

hr {
  color: white;
  width: 90%;
  margin: 20px auto;
}

.log {
  padding: 10px;
  border-radius: 10px;
}

.log-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.journey {
  background-color: $nr-bg-lighter;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
}

.journey-id {
  font-size: 3em;
  text-align: center;
  background-color: $nr-bg-lighterer;
  color: $nr-fg;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  line-height: 1.5;
}

.journey-stats {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.log-stat-caption,
.journey-item-caption {
  font-size: 1.25em;
  color: $nr-fg;
}

.journey-stats-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.journey-row {
  display: flex;
  align-items: center;
}

.log-stat-item,
.journey-item {
  margin: 5px 10px;
  background-color: $nr-bg-lighterer;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.leg {
  border-radius: 10px;
  border-color: $nr-bg-lighterer;
  background-color: black;

  margin: 10px 0px;
  padding: 15px;

  display: flex;
  flex-direction: column;
}

.leg-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
}

.leg-header {
  font-size: 1.5em;
}

.service-details {
  font-style: italic;
  align-items: center;
}

.stop-details {
  margin: 0 auto 10px auto;
}

.platform-header,
.time-header {
  text-align: center;
}

.service-route {
  flex: 1;
  text-align: center;
}

.leg-row-item {
  margin-left: 10px;
  margin-right: 10px;
}

.leg-top {
  font-weight: bold;
  align-items: center;
}

.leg-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-operator {
  width: 200px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.route {
  flex: 1;
  text-align: center;
}

.service-route {
  padding: 5px;
  background-color: gray;
  border-radius: 10px;
  margin: 5px;
}

@each $name, $colour in $toc-colours {
  .box-#{$name} {
    background-color: $colour;
  }
}

.call {
  font-size: 1em;
}

.name {
  width: 300px;
  font-weight: bold;
  padding-right: 10px;
}

.icon {
  padding-right: 25px;
}

.stop-header {
  height: 50px;
  border-bottom: 1px solid $table-border-colour;
}

.platform {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid $table-border-colour;
}

$call-row-height: 60px;

.stop {
  height: $call-row-height;
}

.stop-icon {
  padding: 0;
  width: $call-row-height;
}

.time {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-left: 1px solid $table-border-colour;
}

.diff {
  padding-left: 10px;
  text-align: center;
  border-left: 1px solid $table-border-colour;
}

.diff-box {
  border-radius: 10px;
  padding: 4px;
  padding-bottom: 6px;
  width: 20px;
  height: 20px;
}

.on-time {
  background-color: gray;
}

td {
  padding: 0;
}

.performance-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  font-size: 1.2em;
  justify-content: center;
}

.performance-detail-row {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  align-items: center;
}

.misc-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.performance-detail-item {
  background-color: $nr-bg-lighter;
  padding: 5px;
  border-radius: 10px;
  margin: 0 10px;
  font-weight: bold;
}

.early {
  background-color: limegreen;
}

.very-early {
  background-color: green;
}

.late {
  background-color: red;
}

.very-late {
  background-color: darkred;
}

.origin,
.destination {
  font-size: 1.2em;
  font-weight: bold;
}

.origin {
  height: 75px;
}

.origin-icon {
  margin-top: 15px;
}

.arr-plan,
.dep-plan {
  @media (max-width: 500px) {
    display: none;
  }
}

.header-desktop {
  @media (max-width: 500px) {
    display: none;
  }
}

.header-mobile {
  @media (min-width: 500px) {
    display: none;
  }
}

.divider {
  display: flex;
}

.line {
  flex: 1;
}

.line-text {
  padding-top: 8px;
}
