{% import 'leg.html' as leg %}

{% macro journey(journey, i) %}
<div class="journey">
    <div class="journey-row">
        <div class="journey-item">#{{ i }}</div>
        <div class="journey-item">{{ journey["cost"] }}</div>
        <div class="journey-item">{{ journey["per_mile"] }}</div>
        <div class="journey-item">{{ journey["distance"]["miles"] -}}m {{ journey["distance"]["miles"] -}}ch</div>
        <div class="journey-item">{{ journey["duration"]["plan"] }}</div>
        <div class="journey-item">{{ journey["duration"]["act"] }}</div>
    </div>
    {% for l in journey["legs"] %}
        {{- leg.leg(l) }}
    {% endfor %}
</div>
{% endmacro %}