{% import 'stop.html' as stop %}
{% macro leg(leg) %}
<div class="leg">
    <div class="leg-row leg-top">
        <div class="leg-top-left">
            <div class="leg-row-item headcode leg-header">
            {{ leg["headcode"] }}
            </div>
            <div class="leg-row-item date leg-header">
            {{ leg["date"]["day"] -}} / {{- leg["date"]["month"] -}} / {{- leg["date"]["year"] }}
            </div>
        </div>
        <div class="leg-row-item route leg-header">
            {{- leg["leg_origin"]["name"] }} to {{ leg["leg_destination"]["name"] -}}
        </div>
    </div>
    <div class="leg-row service-details">
        <div class="service-route">
            {{ leg["headcode"] }}
            {{ leg["service_origins"][0]["dep_plan"] }}
            {% for loc in leg["service_origins"] -%}
                {%- if loop.last and not loop.first %}
                    and
                {% elif not loop.first -%}
                    , 
                {%- endif -%}
                {{- loc["name"] -}}
            {%- endfor %}
            to
            {% for loc in leg["service_destinations"] -%}
                {%- if loop.last and not loop.first -%}
                    and
                {%- elif not loop.first -%}
                    , 
                {%- endif -%}
                {{- loc["name"] -}}
            {% endfor %}
        </div>
        <div class="service-operator box-{{ leg["operator"] | slug }}">
            {{ leg["operator"] }}
        </div>
    </div>
    <div class="performance-details">
        <div class="performance-detail-row">
            <div class="performance-detail-caption">Distance</div> 
            <div class="performance-detail-item">{{ leg["mileage"]["miles"] }}m {{ leg["mileage"]["chains"] }}ch</div>
            {% if leg["speed"] %}
                <div class="performance-detail-caption">Avg speed</div>
                <div class="performance-detail-item">{{ leg["speed"] }}mph</div>
            {% endif %}
            <div class="performance-detail-caption">Stock</div>
            <div class="performance-detail-item">{{ leg["stock"] }}</div>
        </div>
        <div class="performance-detail-row">
            <div class="performance-detail-caption">Plan duration</div> 
            <div class="performance-detail-item">{{ leg["duration"]["plan"] }}</div>
            <div class="performance-detail-caption">Act duration</div> 
            <div class="performance-detail-item">{{ leg["duration"]["act"] }}</div>
            <div class="performance-detail-caption">Diff</div> 
            <div class="performance-detail-item">{{ leg["duration"]["diff"] }}</div>
            <div class="performance-detail-caption">Delay</div> 
            <div class="performance-detail-item {{ leg["leg_destination"]["arr"]["status"] }}">{{ leg["leg_destination"]["arr"]["diff"] }}</div>
        </div>    
    </div>
    <hr>
    <div class="stop-details">
        <table>
            <tr class="stop stop-header">
                <th></th>
                <th>Stop</th>
                <th class="platform platform-header">Pl</th>
                <th class="time time-header header-desktop" colspan="2">Arr</th>
                <th class="time time-header header-desktop" colspan="3">Dep</th>
                <th class="time time-header header-mobile" colspan="1">Arr</th>
                <th class="time time-header header-mobile" colspan="2">Dep</th>
            </tr>
        {{- stop.stop(leg["leg_origin"], true, false) -}}
        {% for stn in leg["stops"] %}
            {{- stop.stop(stn, false, false) -}}
        {% endfor %}
        {{- stop.stop(leg["leg_destination"], false, true) -}}
        </table>
    </div>
</div>
{% endmacro %}