{%- macro stop(loc, origin, dest) -%}
<tr {% if origin -%}
        class="stop origin"
    {%- elif dest -%}
        class="stop destination"
    {%- else -%}
        class="stop call"
    {%- endif -%}
>
    <td class="icon">
        <img class="stop-icon"
            {%- if origin -%}
                src="imgs/origin.svg"
            {%- elif dest -%}    
                src="imgs/destination.svg"
            {%- else -%}
                src="imgs/stop.svg"
            {%- endif -%}
        />
    </td>
    <td class="name">{{ loc["name"] }} [{{ loc["crs"] }}]</td>
    <td class="platform">{{ loc["platform"] }}</td>
    <td class="time arr-plan">
        {% if not origin %}
            {{ loc["arr"]["plan"] }}
        {% endif %}
    </td>
    <td class="time dep-plan">
        {% if not dest %}
            {{ loc["dep"]["plan"] }}
        {% endif %}
    </td>
    <td class="time arr-act">
        {% if not origin %}
            {{ loc["arr"]["act"] }}
        {% endif %}
    </td>
    <td class="time dep-plan">
        {% if not dest %}
        {{ loc["dep"]["plan"] }}
        {% endif %}
    </td>
    <td class="diff">
        <div class="diff-box {% if dest %}{{ loc["arr"]["status"] }}{% else %}{{ loc["dep"]["status"] }}{% endif %}">
            {% if dest %}
                {{ loc["arr"]["diff"] }}
            {% else %}
                {{ loc["dep"]["diff"] }}
            {% endif %}
        </div>
    </td>
</tr>
{% endmacro %}