$toc-colours: (
  "abellio-scotrail": #1c4074,
  "avanti-west-coast": #004354,
  "c2c": #b7007c,
  "caledonian-sleeper": #1d2e35,
  "chiltern-railways": #00bfff,
  "crosscountry": #660f21,
  "east-midlands-railway": #703e69,
  "heathrow-express": #532e63,
  "gatwick-express": #e11829,
  "grand-central": #1d1d1b,
  "greater-anglia": #d70428,
  "great-northern": #00a0ff,
  "great-western-railway": #0a493e,
  "hull-trains": #de005c,
  "london-north-eastern-railway": #bf0000,
  "london-northwestern-railway": #00bf6f,
  "london-overground": #f07c08,
  "lumo": #1c02ea,
  "merseyrail": #ffdc00,
  "northern-trains": #0f0d78,
  "southern": #8cc63e,
  "southeastern": #389cff,
  "south-western-railway": #24398c,
  "tfl-rail": #6b529d,
  "thameslink": #ff5aa4,
  "transpennine-express": #09a4ec,
  "transport-for-wales": #ff4500,
  "west-midlands-railway": #ff8200,
);

$nr-blue: #002163;
$nr-white: #ffffff;
$nr-yellow: #fed200;

html {
  background-color: $nr-blue;
  color: $nr-white;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 750px;
  margin: auto;
}

h1 {
  text-align: center;
  color: $nr-yellow;
}

img {
  margin: 0;
  display: block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
}

td {
  border-spacing: 0;
}

.journey {
  border-radius: 5px;
  border-color: gray;

  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.journey-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
}

.journey-header {
  font-size: 1.5em;
}

.service-details {
  font-style: italic;
}

.stop-details {
  margin: auto;
}

.origin,
.destination {
  font-weight: bold;
}

.service-route {
  flex: 1;
  text-align: center;
}

.journey-row-item {
  margin-left: 10px;
  margin-right: 10px;
}

.service-operator {
  width: 200px;
  text-align: center;
}

.route {
  flex: 1;
  text-align: center;
}

@each $name, $colour in $toc-colours {
  .box-#{$name} {
    background-color: $colour;
  }
}

.call {
  font-size: 0.8em;
}

.name {
  width: 300px;
  font-weight: bold;
}

.icon {
  padding-right: 25px;
}

.platform {
  text-align: center;
  padding-left: 5px;
  padding-right: 10px;
}

.journey-icon {
  padding: 0;
  width: 50px;
}

.time {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.diff {
  padding-left: 10px;
  text-align: center;
}

td {
  padding: 0;
}

.performance-details {
  text-align: center;
}

.performance-details table {
  width: 100%;
}

.performance-details td {
  padding-left: 5px;
  padding-right: 5px;
}

.misc-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
